@model IEnumerable<Personeel.MVCSite.Models.SalaryViewModels.AddSalaryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>人事合同管理</h2>

<p>
    @Html.ActionLink("选择用户", "Select")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subsidies)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Accumulationfund)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialSecurity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tax)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasicSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subsidies)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accumulationfund)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SocialSecurity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tax)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
