@model Personeel.MVCSite.Models.UserViewModels.UserListViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>你确定要删除该用户吗</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wedlock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wedlock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NativePlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NativePlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Politic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Politic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicMoney)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicMoney)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipTopDegree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipTopDegree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginWorkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginWorkDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeFormDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeFormDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotWorkDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotWorkDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
