@model Personeel.MVCSite.Models.TrainViewModels.AddTrainViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>你确定要删除以下培训信息吗</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("回到列表", "Index")
        </div>
    }
</div>
