@model Personeel.MVCSite.Models.ArticleViewModels.ArticleListViewModel

@{
    ViewBag.Title = "Details";
}
@section headers{
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <style>
        .disable {
            position: relative;
            left: 0;
            top: 0;
            opacity: .5;
            width: 100%;
            height: 300rpx;
            background: #000;
            z-index: 998;
            /*pointer-events: none; 是可以点击下面的事件，但是因为div是包着tinymac的，所以无效 */
            pointer-events: none;
        }
    </style>
}
<h2>规章制度详情</h2>

<div>
    <hr />
    <b> @Html.DisplayNameFor(model => model.Title):</b>

    @Html.DisplayFor(model => model.Title)<br />

    <b>@Html.DisplayNameFor(model => model.Des):</b>

    @Html.DisplayFor(model => model.Des)<br />

    <b>@Html.DisplayNameFor(model => model.Writer):</b>

    @Html.DisplayFor(model => model.Writer)<br />

    <b>@Html.DisplayNameFor(model => model.CreateTime):</b>

    @Html.DisplayFor(model => model.CreateTime)

    <div class="disable">
        <textarea name="readT" id="readT" style="width:100%; height:200px;">@Html.DisplayFor(model=>model.Text)</textarea>
    </div>
</div>
<p>
    @Html.ActionLink("回到列表", "Index")
</p>
<script type="text/javascript">

    $(function () {

        tinymce.init({
            selector: '#readT',
            toolbar: false,
            readonly: 1
        });

    });   //end page ready

</script>