
@{
    ViewBag.Title = "Index";
}

<h2>服务器信息</h2>

@ViewBag.Version <br />
@ViewBag.Caption<br />
@ViewBag.SerialNumber<br />
@ViewBag.SystemDirectory<br />
@ViewBag.OSArchitecture<br />
@ViewBag.InstallDate<br />
@ViewBag.Organization<br />
@ViewBag.time<br />
@ViewBag.Cpu             
