@model IEnumerable<Personeel.MVCSite.Models.FileViewModels.ContractViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>人事合同管理</h2>

<p>
    @Html.ActionLink("添加合同", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Years)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeadLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Years)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeadLine)
        </td>
        <td>
            <a href="/Contract/Download?filePath=@item.FilePath&fileName=@Path.GetFileName(item.FilePath)'">下载</a>
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new {id = item.Id}) |
            @Html.ActionLink("删除", "Delete", new {id = item.Id})
        </td>
    </tr>
}

</table>
