@model IEnumerable<Personeel.MVCSite.Models.EventViewModels.EventIndexViewModel>

@{
    ViewBag.Title = "History";
}

<h2>审批记录</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventSort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproveTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventSort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproveTime)
            </td>
            <td>
                @Html.ActionLink("详情", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("返回列表", "Index", new { userRight = ViewBag.userRight, userId = ViewBag.userId })
</div>
