@model Personeel.MVCSite.Models.AssessViewModels.AssessListViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>删除考核</h2>

<h3>您确认要删除吗</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssessType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssessType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
