@model Personeel.MVCSite.Models.PositionViewModels.PosListViewModel

@{
    ViewBag.Title = "Delete";
}

<h3>您确定要删除该职位吗</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PosGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PosDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PosDes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
