@using Webdiyer.WebControls.Mvc;
@model PagedList<Personeel.MVCSite.Models.PositionViewModels.PosListViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>职位管理</h2>

<p>
    @Html.ActionLink("添加职位", "AddPosition", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered6">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PosName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosDes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PosDes)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new { id = item.PosGuid }) |
                @Html.ActionLink("删除", "Delete", new { id = item.PosGuid })
            </td>
        </tr>
    }

</table>
<tr>
    <td colspan="6">
        <nav>
            @Html.Pager(Model, new PagerOptions
       {
           PageIndexParameterName = "id",
           ContainerTagName = "ul",
           CssClass = "pagination",
           CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
           DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
           PagerItemTemplate = "<li>{0}</li>",
           Id = "bootstrappager"
       })
        </nav>

    </td>
</tr>
@section headers{
    <style>
        .pagination {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 3px
        }
    </style>
}
