@model Personeel.MVCSite.Models.ArticleViewModels.CreateArticleViewModel

@{
    ViewBag.Title = "CreateArticle";

}
@section headers{

    <link href="~/Scripts/summernote/0.8.15/summernote.min.css" rel="stylesheet" />
    <script src="~/Scripts/summernote/0.8.15/summernote.js"></script>
    <script src="~/Scripts/summernote/0.8.15/lang/summernote-zh-CN.min.js"></script>
}

<h2>创建公告</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Des, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Des, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Des, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", @style = "width:330px;height:100px;" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="发布" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>Summernote</h2>
                    <p>
                        <a href="https://github.com/summernote/summernote" target="_blank">Summernote</a> 是一个简单的基于Bootstrap的WYSIWYG富文本编辑器
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Summernote 富文本编辑器</h5>
                </div>
                <div class="ibox-content no-padding">
                    <div class="summernote">
                        <h2>一沙后台管理系统</h2>
                        <p>
                            YiShaAdmin 是一个开源的后台管理系统快速开发框架，基于.NET Core Web技术（ASP.NET Core Web，ASP.NET Core Web Api），主要目的让开发者专注业务，
                            降低技术难度，从而节省人力成本，缩短项目周期，提高软件安全质量。
                        </p>
                        <p>
                            <span class="label label-warning">免费开源</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>编辑/保存为html代码示例</h5>
                    <button id="edit" class="btn btn-primary btn-xs m-l-sm" onclick="edit()" type="button">编辑</button>
                    <button id="save" class="btn btn-primary  btn-xs" onclick="save()" type="button">保存</button>
                </div>
                <div class="ibox-content" id="eg">

                    <div class="click2edit wrapper">
                        <h3>你好，一沙 </h3>
                        <p>
                            YiShaAdmin 是一个开源的后台管理系统快速开发框架，基于.NET Core Web技术（ASP.NET Core Web，ASP.NET Core Web Api），主要目的让开发者专注业务，
                            降低技术难度，从而节省人力成本，缩短项目周期，提高软件安全质量。
                        </p>
                        <p>
                            <span class="label label-warning">开源免费</span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.summernote').summernote({
            lang: 'zh-CN'
        });
    });

    var edit = function () {
        $("#eg").addClass("no-padding");
        $('.click2edit').summernote({
            lang: 'zh-CN',
            focus: true
        });
    };

    var save = function () {
        $("#eg").removeClass("no-padding");
        var html = $('.click2edit').summernote('code');
        $('.click2edit').summernote('destroy');
    };
</script>

<div>
    @Html.ActionLink("回到列表", "Index")
</div>


@section scripts{

}
