@model Personeel.MVCSite.Models.ArticleViewModels.ArticleListViewModel

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Des)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Writer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("回到列表", "Index")
</p>
