@{
    var userEmail = Session["userEmail"] == null ? Request.Cookies["userEmail"].Value : Session["userEmail"].ToString();
    var userName = Session["userName"] == null ? Request.Cookies["userName"].Value : Session["userName"].ToString();
    var userId = Session["userId"] == null ? Request.Cookies["userId"].Value : Session["userId"].ToString();
    var userRight = Session["userRight"] == null ? Request.Cookies["userRight"].Value : Session["userRight"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 企业人事管理系统</title>
    @Styles.Render("~/Content/css")
    @RenderSection("headers", required: false)
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/Content/style.css">
    <link href="~/fonts/iconfont.css" rel="stylesheet" />
    @if (TempData["message"] != null)
    {
        <script type="text/javascript">
            var message = @Html.Raw(Json.Encode(TempData["message"]));
            alert(message);
        </script>
    }
</head>
<body>

    <nav class="navbar navbar-default no-margin">
        <!-- Brand and toggle get grouped for better mobile display -->


        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                 <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                 </button>-->
            <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i>企业人事管理系统</a>
        </div>

        <!-- navbar-header-->

        <div class="nav navbar-nav navbar-left" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                </li>
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("退出登录", "Login", "Login", new { area = "Admin" }, null)
                </li>
            </ul>
        </div>

    </nav>
    <div id="wrapper">
        <!-- 通过权限判断菜单栏的显示列 -->
        @{
            //管理员
            if (userRight == "7b6dc9c0-e166-8323-527b-f5a6fe72756c")
            {
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                                @Html.ActionLink("首页", "Index", "Admin", new { Area = "Admin" }, null)
                            </a>
                        </li>
                        <li>

                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-group fa-stack-1x "></i></span>
                                @Html.ActionLink("用户管理", "Index", "User", new { Area = "Admin" }, null)
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-bank fa-stack-1x "></i></span>
                                @Html.ActionLink("部门管理", "Index", "Department", new { Area = "Admin" }, null)
                            </a>

                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-address-card fa-stack-1x "></i></span>
                                @Html.ActionLink("职位管理", "Index", "Position", new { Area = "Admin" }, null)
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>
                                @Html.ActionLink("规章制度管理", "Index", "Regulatory", new { Area = "Admin" }, null)
                            </a>
                        </li>


                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x "></i></span>系统管理</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        @Html.ActionLink("日志管理", "Index", "Operation", new { Area = "Admin" }, null)
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        设备管理
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>
            }
            //人事
            else if (userRight == "c487756a-10c5-8c77-d783-0f10ddf0837c")
            {
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                                @Html.ActionLink("首页", "Index", "Personnel", new { Area = "Personnel" }, null)
                            </a>

                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-address-book-o fa-stack-1x "></i></span>
                                @Html.ActionLink("人事档案", "Index", "User", new { Area = "Personnel" }, null)
                            </a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        @Html.ActionLink("人员档案", "Index", "User", new { Area = "Personnel" }, null)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        人员合同
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar-minus-o fa-stack-1x "></i></span>
                                @Html.ActionLink("公告管理", "Index", "Announce", new { Area = "Personnel" }, null)
                            </a>

                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>
                                @Html.ActionLink("培训管理", "Index", "Train", new { Area = "Personnel" }, null)
                            </a>
                        </li>

                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-money fa-stack-1x "></i></span>薪酬管理</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type: none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        @Html.ActionLink("工资账套", "Index", "PayRollAccount", new { Area = "Personnel" }, null)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        @Html.ActionLink("月末处理", "Index", "Salary", new { Area = "Personnel" }, null)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        @Html.ActionLink("调薪管理", "Index", "ChangeSalary", new { Area = "Personnel" }, null)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        绩效管理
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-group fa-stack-1x "></i></span>人事管理</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        @Html.ActionLink("奖惩管理", "Index", "EncourageOrChastisement", new { Area = "Personnel" }, null)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        @Html.ActionLink("考勤管理", "Index", "Checking", new { Area = "Personnel" }, null)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        @Html.ActionLink("人事调动", "Index", "Transfer", new { Area = "Personnel" }, null)
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        请假审批
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        通用审批
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-calendar fa-stack-1x "></i></span>报表统计</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        人员统计
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        工资报表
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        合同报表
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            }
            //部门主管
            else if (userRight == "aeaeb207-2c3b-7e1d-265a-0ef856ce3871")
            {
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                                @Html.ActionLink("首页", "Index", "Employee", new { Area = "Employee" }, null)
                            </a>

                        </li>
                        <li>

                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-address-book-o fa-stack-1x "></i></span>
                                个人档案
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-money fa-stack-1x "></i></span>
                                个人薪酬
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-address-book-o fa-stack-1x "></i>
                                </span>
                                @Html.ActionLink("考勤打卡", "Index", "Checking", new { Area = "Employee" }, null)
                            </a>
                        </li>

                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-group fa-stack-1x "></i></span>人事办理</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        请假申请
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        调岗申请
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        离职申请
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>学习中心</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        培训信息
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        公告信息
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        规章制度
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
            }
            //普通员工
            else
            {
                <div id="sidebar-wrapper">
                    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>
                                @Html.ActionLink("首页", "Index", "Employee", new { Area = "Employee" }, null)
                            </a>

                        </li>
                        <li>

                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-address-book-o fa-stack-1x "></i></span>
                                个人档案
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left"><i class="fa fa-money fa-stack-1x "></i></span>
                                个人薪酬
                            </a>

                        </li>

                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg pull-left">
                                    <i class="fa fa-address-book-o fa-stack-1x "></i>
                                </span>
                                @Html.ActionLink("考勤打卡", "Index", "Checking", new { Area = "Employee" }, null)
                            </a>
                        </li>

                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-group fa-stack-1x "></i></span>人事办理</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        @Html.ActionLink("请假申请", "Index", "AskForLeave", new { Area = "Employee",userGuid=@userId }, null)
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        通用申请
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>学习中心</a>
                            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left"></span>
                                        培训信息
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        公告信息
                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span class="fa-stack fa-lg pull-left">
                                        </span>
                                        规章制度
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
            }
        }

        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <div class="col-lg-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
    <script src="/Scripts/script.js"></script>
</body>
</html>
