@model Personeel.MVCSite.Models.EventViewModels.EventIndexViewModel

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApproveTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApproveTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventNotReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventNotReason)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回列表", "Index",new{userGuid=Model.UserId})
</p>
