@model Personeel.MVCSite.Models.TrainViewModels.AddTrainViewModel

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrainGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainSort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainSort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回", "Index")
</p>
