@using Webdiyer.WebControls.Mvc;
@model PagedList<Personeel.MVCSite.Models.OperationViewModels.OperationListViewModel>


@{
    ViewBag.Title = "Index";
}
<h2>日志管理</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.ActionLink("删除", "Delete", new { id = item.Id, name = item.UserName })
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <nav>
                    @Html.Pager(Model, new PagerOptions
               {
                   PageIndexParameterName = "pageIndex",
                   ContainerTagName = "ul",
                   CssClass = "pagination",
                   CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
                   DisabledPagerItemTemplate ="<li class=\"disabled\"><a>{0}</a></li>",
                   PagerItemTemplate = "<li>{0}</li>",
                   Id = "bootstrappager"
               })
                </nav>

            </td>
        </tr>
    </tfoot>
</table>

@section headers{
    <style>
        .pagination{
            display:flex;
            flex-direction:row;
            justify-content:center;
            margin:0;
            padding:3px
        }
    </style>
    }
