@model Personeel.MVCSite.Models.SalaryViewModels.AddSalaryViewModel

@{
    ViewBag.Title = "Details";
}

<h2>详情</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncourageOrChastisement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EncourageOrChastisement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShouldDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShouldDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subsidies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subsidies)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accumulationfund)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accumulationfund)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialSecurity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActualSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
