@model Personeel.MVCSite.Models.SalaryViewModels.SelectUserViewModel

@{
    ViewBag.Title = "Select";
}

<h2>请选择要发放工资的员工</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SelectUserViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
         @Html.LabelFor(model => model.UserGuid, htmlAttributes: new { @class = "control-label col-md-2" })
         <div class="col-md-10">
             @foreach (var userItem in ViewBag.Users)
             {
                 <label><input type="checkbox" name="UserGuid" value="@userItem.UserId">@userItem.Name</label>
             }
             
         </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="确定" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
